<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav #sidenav class="docs-component-viewer-sidenav"
              [opened]="true"
              [mode]="isScreenSmall() ? 'over' : 'side'">
    <nav *ngFor="let grouping of questionConfig.getConfig()">
      <h3>{{grouping.grouping}}</h3>
      <ul>
        <li *ngFor="let subgroup of grouping.subgrouping.name">
          <a [routerLink]="['/components/component/', component.id]"
             routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
      <h1>asdasd</h1>
    </nav>
      <!--<nav>
      <h3>{{category.name}}</h3>
      <ul>
        <li>
          <a>
            {{component.name}}
          </a>
        </li>
      </ul>
    </nav>-->
  </md-sidenav>

  <div class="docs-component-sidenav-content">
    <!--<component-page-header (toggleSidenav)="sidenav.toggle()"></component-page-header>-->


  </div>
</md-sidenav-container>
