<md-card>
<h2>Readiness Assessment for a Shared service Programme (RASP) – Instructions for use</h2>
<p>
Developed by the Eduserv Executive Briefing Programme with contributors from across the public sector, this readiness assessment tool is intended to help organisations informally to review their position as they prepare for a shared services programme. The tool can be used to identifying areas where they may need to pay more attention, or where there are ‘blind spots’.
</p>
<p>
No one expects to be at ‘level 5’ in all areas before commencement. Indeed, the position will almost certainly change during a shared services programme. This RASP tool can therefore be used during a programme to monitor changing risks. It is designed to be a useful aid, to demonstrate and to quantify risks and potential issues that require further scrutiny or care during a shared service programme.
</p>
To use RASP, you need to self-assess your position for each of the 20 categories 1.1 to 5.4.
<p>
This is not a scientific exercise – it is about subjective judgement. But the more honest you, are the better the results will be! You might want to do this as a team effort, for better results.
</p>
<p>
You should use the questions posed under each sub-section (1.1, 1.2 etc) to help you provide a score from 0 to 5.
</p>

<md-card md-colors="GREY">
<p>
<b>An Example:</b> Start with ‘Business buy-in’ (subsection 1.1, in Group 1, ‘Alignment of Ambition’). Take each of the questions one by one, and assess where you believe your organisation sits in relation to the possible shared service programme you have in mind. Score 1-5 (where 1. is low). For example, the first question is: “Does the wider organisation understand and support the ambitions of each organisation?”. You may judge that good progress has been made in this area, with CEO support and some staff briefings (say), but at this stage there are still some doubts, so you choose to score a ‘3’.
</p>
</md-card>

<p>
The score you give indicates the level of understanding or preparedness under that heading, with a low number being a low level. When the exercise is complete the low scores will provide a ‘map’ of the ‘blind spots’ that require more attention.
</p>
<p>
It is likely that you will want to keep coming back to this tool, since the issues raised will be addressed at different points through the shared service programme. For example, the ‘alignment of ambition’ and ‘ethos and culture’ elements are (hopefully) dealt with early on, but some other aspects will take longer to develop and to address.
</p>
<p>
It will also be helpful to look ahead at what assessments and decisions will be needed at future points, even if these are not currently the priority.
</p>
<a [routerLink]="['../grouping/0']" md-raised-button color="primary">START</a>
</md-card>