<div fxFlexFill fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign="space-around start">
  
  <md-card class="md-margin-bottom">
    <h3>{{groupname}}</h3>
    <p>
          {{groupdescription}}
    </p>
  </md-card>
</div>

<div fxFlexFill fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign="space-around start">
     <div  class="flex-item">
      <md-card>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <h4>{{subgroupname}}</h4> 
            <table>
              <tbody>
              <tr *ngFor="let q of configQuestions">
                <td>
                 <p class="question-text">{{q.question}}</p>
                  </td>
                  <td>
                  <md-select placeholder="score" >
                    <md-option *ngFor="let score of scores" [value]="score" ng-selected="questions[q.id].score">{{ score }}</md-option>
                  </md-select>
                 <td>
              </tr>             
         </tbody>
         <tfoot>
           <tr>
  <td></td>
  <td>
                        
    <span class="app-action" [class.m2app-dark]="isDarkTheme">
      <button title="save" type="submit" [disabled]="f.dirty" (click)="save()" md-fab><md-icon>save</md-icon></button>
    </span>
             </td>

           </tr>
         </table>
         
           </form>
       </md-card>
     </div>
     
  <div  class="flex-item">
      <md-card>
        
   <radar-chart [radarChartData]="radarChartData"
                [radarChartLabels]="radarChartLabels"></radar-chart>
        
      </md-card>
      </div>
    <!--</md-grid-tile>
    </md-grid-list>-->
</div>