md-grid-tile{
   margin-top: 20px !important;
}

md-card{
   vertical-align:top;
}

.chart-panel{
    width: 50%;
}  

.summary-panel{
    width: 50%;
}  

.md-margin-bottom{
    margin-bottom:20px;
}
