 <div fxFlexFill fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign="space-around start">
  <md-card class="md-margin-bottom">
    <h3>{{groupname}}</h3>
    <p>
          {{groupdescription}}
    </p>
  </md-card>
 </div>
 <div fxFlexFill fxLayoutGap="20px" fxLayout="row"  fxLayoutAlign="space-around start">
      <md-card>
            <h4>Summary</h4> 
            <table>
              <thead>
                <td>Category</td>
                <td>Score</td>
              </thead>
              <tbody>
              <tr *ngFor="let c of categories">
                <td>
                 <p>{{c.score}}</p>
                  </td>
                  <td>
                  <md-select placeholder="score">
                    <md-option *ngFor="let score of scores" [value]="score">{{ score }}</md-option>
                  </md-select>
                 <td>
              </tr>             
         </tbody>
         <tfoot>
          
         </table>
      </md-card>
    
      <md-card>
        
   <radar-chart [radarChartData]="radarChartData"
                [radarChartLabels]="radarChartLabels"></radar-chart>
        
      </md-card>
 </div>