

  <md-toolbar color="primary">
    <button md-button [routerLink]="['/keytouse']" (click)="sidenav.close()" *ngIf="auth.authenticated()">
      INSTRUCTIONS
      <md-icon>vpn_key</md-icon>
    </button>

    <button md-button [routerLink]="['/grouping/0']"  (click)="sidenav.open()" *ngIf="auth.authenticated()">
      ASSESSMENT
      <md-icon>mode_edit</md-icon>
    </button>

    <button md-button [routerLink]="['/overall']"  (click)="sidenav.close()" *ngIf="auth.authenticated()">
      RESULTS
      <md-icon>trending_up</md-icon>      
    </button>
     
    <span class="app-toolbar-filler"></span> 
    <div class="title-text">Readiness Assessment for a Shared Services Programme</div>
    <div class="title-logo">
      <img src="assets/Eduserv-logo-white-transparent2s.png"/>
    </div>

   <button md-button class="app-icon-button" [md-menu-trigger-for]="account">
      <md-icon>account_circle</md-icon>      
    </button>

     <md-menu #account="mdMenu">
        <button md-button (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
        <button md-button (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button> 
    </md-menu>
<!--
  <button md-button class="app-icon-button" [md-menu-trigger-for]="settings">
      <md-icon>settings</md-icon>
  </button>

    <md-menu #settings="mdMenu">
         <button md-button  *ngIf="auth.authenticated()" (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>     
    </md-menu>-->

  </md-toolbar>
<md-sidenav-container [class.m2app-dark]="isDarkTheme"  class="docs-component-viewer-sidenav-container">


<md-sidenav #sidenav class="docs-component-viewer-sidenav"
              [opened]="false"
              [mode]="'side'">
 
<nav *ngFor="let grouping of questionConfig.getConfig()">
      <h3>
          <a [routerLink]="['/grouping', grouping.gid]" md-button>{{grouping.name}}</a>
      </h3>
      <ul>
        <li *ngFor="let category of grouping.categories">
        <a  [routerLink]="['/category', grouping.gid, category.cid]" md-button>
            {{category.name}}
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>

  <div class="app-content">
  
  <router-outlet></router-outlet>


  </div>

<app-footer></app-footer>
  </md-sidenav-container>